		#body {
			font-family: 'Trebuchet MS', Arial, Helvetica;
			font-size: small;
			height: 500px;
			overflow: hidden;
			padding: 0px;
		}
		h2,
		h3,
		p {
			margin: 0 0 15px 0;
		}
		#tabs {
			overflow: auto;
			width: 100%;
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
		#tabs li {
			margin: 0px;
			padding: 0px;
			float: left;
		}
		#tabs a {
			-moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2); //实现导航右边的阴影效果
			-webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
			box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
			background: #16A085;
			background: -moz-linear-gradient(220deg, transparent 10px, #16A085 10px); //实现导航渐变背景及右上角的斜边效果
			background: -webkit-linear-gradient(220deg, transparent 10px, #16A085 10px);
			background: -ms-linear-gradient(220deg, transparent 10px, #16A085 10px);
			background: -o-linear-gradient(220deg, transparent 10px, #16A085 10px);
			background: linear-gradient(220deg, transparent 10px, #16A085 10px);
			text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
			color: #fff;
			float: left;
			font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
			height: 35px;
			padding: 0 30px;
			text-decoration: none;
		}
		#tabs a:hover {
			background: #1ABC9C;
			background: -moz-linear-gradient(220deg, transparent 10px, #1ABC9C 10px);
			background: -webkit-linear-gradient(220deg, transparent 10px, #1ABC9C 10px);
			background: -ms-linear-gradient(220deg, transparent 10px, #1ABC9C 10px);
			background: -o-linear-gradient(220deg, transparent 10px, #1ABC9C 10px);
			background: linear-gradient(220deg, transparent 10px, #1ABC9C 10px);
		}
		#right {
			background-color: #fff;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
			background-image: -webkit-linear-gradient(top, #fff, #ddd);
			background-image: -moz-linear-gradient(top, #fff, #ddd);
			background-image: -ms-linear-gradient(top, #fff, #ddd);
			background-image: -o-linear-gradient(top, #fff, #ddd);
			background-image: linear-gradient(top, #fff, #ddd);
			-moz-border-radius: 0 2px 2px 2px;
			-webkit-border-radius: 0 2px 2px 2px;
			border-radius: 0 2px 2px 2px;
			-moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
			-webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
			box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
			height: 465px;
		}
		#tabs #current a {
			background: #000000;
			background: -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
			background: -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
			background: -ms-linear-gradient(220deg, transparent 10px, #fff 10px);
			background: -o-linear-gradient(220deg, transparent 10px, #fff 10px);
			background: linear-gradient(220deg, transparent 10px, #fff 10px);
			text-shadow: none;
			color: #333;
		}